$primary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$primary-color: rgb(65, 25, 25);

$fourth-color: rgb(99, 171, 248);

$secondary-color: rgb(0, 165, 0);

$third-color: rgb(246, 157, 2);
