@import "/src/styles/variables";
@import "/src/styles/mixins";

.Navbar {
  // border: 2px solid black;
  display: flex;
  justify-content: space-between;
  font-family: $primary-font-family;
  //   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  &__List {
    list-style: none;
    padding: none;
    display: flex;
    gap: 15px;
    & li {
      font-weight: bold;
      cursor: pointer;
      // background-color: $secondary-color;

      //   background-color: grey;
      transition: all 0.7s;
      &:hover {
        color: $third-color;
      }
    }
  }
  &__Image {
    width: 80px;
  }
  &__Button {
    width: 150px;
    border: 0px;
    height: 50px;
    font-family: $primary-font-family;
    border-radius: 5px;
    transition: all 0.5s;
    margin: 10px;
    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
