@import "/src/styles/variables";
@import "/src/styles/mixins";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $third-color;
  /* background-image: url("https://img.freepik.com/free-vector/cute-crocodile-drink-orange-juice-wearing-glasses-cartoon-vector-icon-illustration-animal-flat_138676-7201.jpg?w=360"); */
  .Paragrafo {
    // @include background;
    padding: 5px;
    font-family: $primary-font-family;
    color: $primary-color;
    font-weight: bold;
  }
  .Buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    // padding: 5px;
    margin: 5px;

    button {
      height: 30px;
      width: 30px;
      cursor: pointer;
      border-radius: 4px;
      background-color: $secondary-color;
      transition: all 0.7s;
      &:hover {
        color: $third-color;
      }
    }
  }
  @media screen and (max-width: 768px) {
    width: 700px;
    //   padding: 10px;
    .Paragrafo {
      // @include background;
      // background-image: url("https://images.unsplash.com/photo-1517093911940-08cb5b3952e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=444&q=80");
      padding: 5px;
      font-family: $primary-font-family;
      color: $primary-color;
      font-size: bold;
      &:hover {
        font-weight: bold;
      }
    }
    .Buttons {
      display: flex;
      justify-content: space-between;
      gap: 0px;
      // padding: 5px;
      margin: 5px;

      button {
        height: 30px;
        width: 30px;
        cursor: pointer;
        border-radius: 4px;
        background-color: $secondary-color;
        transition: all 0.7s;
        &:hover {
          color: $third-color;
        }
      }
    }
  }
}
