@import "/src/styles/variables";
@import "/src/styles/mixins";

.Hero {
  font-family: $primary-font-family;
  text-shadow: 10px 10px 4px $secondary-color;
  color: $primary-color;
  // background-image: url("https://images.unsplash.com/photo-1596404643764-2a2461483a3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bGltZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  // background-size: contain;
  @include background;
  @include flex-container();
  // display: flex;
  // text-align: center;

  // flex-direction: column;

  .HeroList {
    display: flex;
    margin: 0 20px;
    padding: 0;
    list-style: none;
    gap: 30px;

    & li {
      background-color: $secondary-color;
      padding: 2px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        color: $third-color;
      }
    }
  }
  & hr {
    width: 80%;
    border: 1px groove $third-color;
    border-width: 4px;
  }
}
@media screen and (max-width: 768px) {
  .Hero {
    width: 768px;
    border: 2 px solid red;
    .HeroList {
      font-size: small;
    }
  }
}
