@import "/src/styles/variables";
@import "/src/styles/mixins";

.Hero {
  font-family: $primary-font-family;
  text-shadow: 10px 10px 4px $secondary-color;
  color: $primary-color;
  @include flex-container();
  // display: flex;
  // text-align: center;

  // flex-direction: column;

  &__List {
    display: flex;
    margin: 0 20px;
    padding: 0;
    list-style: none;
    gap: 30px;

    & li {
      background-color: $secondary-color;
      padding: 2px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        color: $third-color;
      }
    }
  }
  & hr {
    width: 80%;
    border: 1px groove $third-color;
    border-width: 4px;
  }
}
